<%- include('userheader', {categoryname: 'Alkohol'}); %>

<body>
<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimg1.cookinglight.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F4_3_horizontal_-_1200x900%2Fpublic%2Flowest-calorie-alcohol-lineup-gettyimages-687075873.jpg%3Fitok%3DbCd5j7RH" alt="Card image cap">
        <div class="card-body">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                    <h5 class="card-title">TALISKER 10 Years 0,7L 45,8%</h5>
                    <p class="card-text">15000ft/db</p>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                    <input type="amount" class="form-control" id="abamount" placeholder="Add meg a mennyiséget!">
                    <button type="button" class="btn btn-primary">Kosárba</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimg1.cookinglight.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F4_3_horizontal_-_1200x900%2Fpublic%2Flowest-calorie-alcohol-lineup-gettyimages-687075873.jpg%3Fitok%3DbCd5j7RH" alt="Card image cap">
        <div class="card-body">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                    <h5 class="card-title">Soproni Klasszikus világos sör 4,5%</h5>
                    <p class="card-text">450ft/db</p>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                    <input type="amount" class="form-control" id="baamount" placeholder="Add meg a mennyiséget!">
                    <button type="button" class="btn btn-primary">Kosárba</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimg1.cookinglight.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F4_3_horizontal_-_1200x900%2Fpublic%2Flowest-calorie-alcohol-lineup-gettyimages-687075873.jpg%3Fitok%3DbCd5j7RH" alt="Card image cap">
        <div class="card-body">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                    <h5 class="card-title">Hubert Club Édes Pezsgő 0,75L </h5>
                    <p class="card-text">1500ft/db</p>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                    <input class="form-control" id="aamount" placeholder="Add meg a mennyiséget!" type="amount">
                    <button type="button" class="btn btn-primary">Kosárba</button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<%- include ('footer') -%>