<%- include('userheader', {categoryname: 'Alkohol'}); -%>

<body>
<div class="card-group">
<% for (let i = 0; i< products.length; i++){ if(products[i].category == 'Alkohol'){ const alcohols = products[i]  ;  %>
    <div class="card">
        <img class="card-img-top" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimg1.cookinglight.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F4_3_horizontal_-_1200x900%2Fpublic%2Flowest-calorie-alcohol-lineup-gettyimages-687075873.jpg%3Fitok%3DbCd5j7RH" alt="Card image cap">
        <div class="card-body">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                    <h5 class="card-title"><%= alcohols.name %></h5>
                    <p class="card-text"><%= alcohols.price %> ft/db</p>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                    <input type="amount" class="form-control" id="baamount" placeholder="Add meg a mennyiséget!">
                    <button type="button" class="btn btn-primary">Kosárba</button>
                </div>
            </div>
        </div>
    </div>
</div>
<% }} %>

</body>
<%- include ('footer') -%>