<%- include('userheader', {categoryname: 'Italok'}); -%>

<body>
    <div class="card-group">
        <% for (let i = 0; i< products.length; i++){ if(products[i].enum == 'drinks'){ const drinks = products[i]  ;  %>
        <div class="card">
            <img class="card-img-top" src="https://cdn.punchng.com/wp-content/uploads/2017/03/29201341/soft-drinks.png" alt="Card image cap">
            <div class="card-body">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                        <h5 class="card-title"><%= drinks.name %></h5>
                        <p class="card-text"><% drinks.price %> ft/db</p>
                    </div>
                </div>

                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                        <input type="amount" class="form-control" id="bamount" placeholder="Add meg a mennyiséget!">
                        <button type="button" class="btn btn-primary">Kosárba</button>
                    </div>
                </div>
            </div>
        </div>
        <% }} %>
</div>
</body>
<%- include ('footer') -%>