<%- include ('userheader') -%>

<div class="form-group">
    <label for="formGroupUsernameInputInput" class="form-label">Felhasználónév</label>
    <input type="text" class="form-control" id="formGroupUsernameInputInput" placeholder="Add meg a felhasználóneved!">
</div>
<div class="form-group">
    <label for="formGroupPasswordUnput" class="form-label">Jelszó</label>
    <input type="text" class="form-control" id="formGroupPasswordUnput" placeholder="Add meg a jelszavad!">
</div>
<div class="col-md-12 text-center">
    <a class="btn btn-link" href="drinks.ejs">Bejelentkezés</a>
    <a class="btn btn-link" href="adminpage.ejs">Bejelentkezés adminisztrátorként</a>
</div>

<%- include ('footer') -%>
