<%- include('userheader', {categoryname: 'Édességek'}); %>

<body>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="https://images-gmi-pmc.edge-generalmills.com/087d17eb-500e-4b26-abd1-4f9ffa96a2c6.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
            <h5 class="card-title">Csokis keksz</h5>
            <p class="card-text">300ft/db</p>
          </div>
        </div>

        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
            <input type="password" class="form-control" id="bamount" placeholder="Add meg a mennyiséget!">
            <button type="button" class="btn btn-primary">Kosárba</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images-gmi-pmc.edge-generalmills.com/087d17eb-500e-4b26-abd1-4f9ffa96a2c6.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
            <h5 class="card-title">Laktózmentes csokis keksz</h5>
            <p class="card-text">350ft/db</p>
          </div>
        </div>

        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
            <input type="password" class="form-control" id="aamount" placeholder="Add meg a mennyiséget!">
            <button type="button" class="btn btn-primary">Kosárba</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images-gmi-pmc.edge-generalmills.com/087d17eb-500e-4b26-abd1-4f9ffa96a2c6.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
            <h5 class="card-title">Cukormentes csokis keksz</h5>
            <p class="card-text">350ft/db</p>
          </div>
        </div>

        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
            <input type="password" class="form-control" id="amount" placeholder="Add meg a mennyiséget!">
            <button type="button" class="btn btn-primary">Kosárba</button>
          </div>
        </div>
      </div>
    </div>


</div>
</body>
<%- include ('footer') -%>